/01_VERIFICATION/simv* 
/01_VERIFICATION/csrc 
/01_VERIFICATION/*.key 
/01_VERIFICATION/DVE* 
/01_VERIFICATION/*.h 
/01_VERIFICATION/*.a 
/01_VERIFICATION/*.daidir 
/01_VERIFICATION/verilog_file_list 
/01_VERIFICATION/*.vcd 
/01_VERIFICATION/*.vpd 
/01_VERIFICATION/vhdl_file_list 
/01_VERIFICATION/64/
/01_VERIFICATION/testreport.txt
/01_VERIFICATION/.vlogansetup.args
/01_VERIFICATION/AN.DB/
/02_SYNTHESIS/work/
/02_SYNTHESIS/logs/
/02_SYNTHESIS/data/
/02_SYNTHESIS/lec/
/02_SYNTHESIS/reports/
vivado*
01_VERIFICATION/csrc/
01_VERIFICATION/simv
01_VERIFICATION/simv.daidir/
01_VERIFICATION/ucli.key
01_VERIFICATION/vhdl_file_list
02_SYNTHESIS/command.log
02_SYNTHESIS_Genus/data/
02_SYNTHESIS_Genus/logs/
02_SYNTHESIS_Genus/reports/
02_SYNTHESIS_Genus/work/
03_VERIFICATION/testreport.txt
03_VERIFICATION/.vlogansetup.args
03_VERIFICATION/.vlogansetup.env
03_VERIFICATION/64/
03_VERIFICATION/AN.DB/
03_VERIFICATION/command.log
03_VERIFICATION/csrc/
03_VERIFICATION/simv
03_VERIFICATION/simv.daidir/
03_VERIFICATION/ucli.key
03_VERIFICATION/verilog_file_list
03_VERIFICATION/vhdl_file_list
03_VERIFICATION_Genus/.vlogansetup.args
03_VERIFICATION_Genus/64/
03_VERIFICATION_Genus/AN.DB/
03_VERIFICATION_Genus/csrc/
03_VERIFICATION_Genus/simv
03_VERIFICATION_Genus/simv.daidir/
03_VERIFICATION_Genus/ucli.key
03_VERIFICATION_Genus/verilog_file_list
03_VERIFICATION_Genus/vhdl_file_list
04_POWER/logs/
04_POWER/reports/
04_POWER/work/
command.log
filenames.log
