/01_VERIFICATION/simv* 
/01_VERIFICATION/csrc 
/01_VERIFICATION/*.key 
/01_VERIFICATION/DVE* 
/01_VERIFICATION/*.h 
/01_VERIFICATION/*.a 
/01_VERIFICATION/*.daidir 
/01_VERIFICATION/verilog_file_list 
/01_VERIFICATION/*.vcd 
/01_VERIFICATION/*.vpd 
/01_VERIFICATION/vhdl_file_list 
/01_VERIFICATION/64/
/02_SYNTHESIS/work/
/02_SYNTHESIS/logs/
/02_SYNTHESIS/data/
/02_SYNTHESIS/lec/
/02_SYNTHESIS/reports/
vivado*
